html, body {
  overflow: hidden;
  max-width: 100%;
}

body {
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.main {
  margin-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
  width: 100%;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 15px;
}

.leftLinks {
  padding: 20px
}
.rightLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

footer {
  display: flex;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 3px solid #eaeaea;
  background-color: #eaeaea;
  left: 0;
  position: fixed;
  align-items: center;
  max-width: 100%;
}

.leftFooter, .rightFooter {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rightFooter > .leftFooter {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.leftFooter {
  width: 25%;
  justify-content: flex-start;
}

.rightFooter {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.footer-tools {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#default-google-image {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

image {
  max-width: 100%;
  max-height: 100%;
}

#default-profile-icon {
  width: 50px;
  padding: 10px;
  margin-top: 8px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  display: flex;
  width: 800px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #999797;
  border-radius: 25px;
  box-shadow: 0 1px 2px #999797;
}

#search-icons {
  display: flex;
  width: 40px;
  height: auto;
}

.search {
  width: 700px;
  height: 40px;
  border: none;
}

.search-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  height: 30px;
  margin-top: 30px;
}

