body {
  background-color: whitesmoke;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
  width: 100%;
}

a {
  margin: 15px;
}
.right-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 3px solid #eaeaea;
  background-color: #eaeaea;
  left: 0;
  position: fixed;
  align-items: center;
  padding: 20px;
}

.leftFooter, .rightFooter {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rightFooter > .leftFooter {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.leftFooter {
  width: 18%;
  justify-content: flex-start;
}

.rightFooter {
  display: flex;
  justify-content: flex-end;
}
.footer-tools {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

#default-google-image {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

image {
  max-width: 100%;
  max-height: 100%;
}

#search-icons, #default-profile-icon {
  width: 50px;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  width: 400px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 0 1px 2px;
}

.search-buttons {
  display: flex;
  justify-content: center;
}